$primary-color: #252524;
$secondary-color: #3d3d3d;
$background-color: #000;
$primary-font-color: #fff;
$secondary-font-color: #a3a3a3;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: $background-color;
}
a {
  color: inherit;
  text-decoration: none;
}
.btn {
  margin-top: 30px;
  margin-bottom: 10px;
  color: $primary-font-color;
  font-size: 16px;
  background-color: $secondary-color;
  width: 100%;
  border: none;
  border-radius: 7px;
  padding: 10px;
}
.border {
  border-bottom: 1px solid $primary-font-color;
}
.display-none {
  display: none;
}
body {
  .content {
    padding: 5%;
    margin-top: 70px;
    background-color: $background-color;
    color: $primary-font-color;
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $primary-font-color;
      position: absolute;
      top: 0;
      padding: 5%;
      width: 100%;
      left: 0;
      height: 70px;
      box-shadow: 0px 1px 8px 0 #2b2d31;

      h1 {
        font-weight: 400;
      }
    }

    main {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      background-color: $background-color;
      position: relative;
      .intro {
        margin: 10px 0;

        p {
          font-size: 14px;
          margin-top: 5px;
        }
      }
      .filter-bar {
        margin-bottom: 20px;
        display: flex;
        background: $primary-color;
        border-radius: 7px;
        flex-direction: column;
        width: 100%;

        .display-style {
          display: flex;

          h3 {
            padding: 10px 0;
            text-align: center;
            flex: 1 1 auto;
          }
        }

        .search {
          display: flex;
          align-items: center;
          input {
            background: $primary-color;
            flex: 1 1 80%;
            padding: 15px 0;
            border: none;
            border-radius: 0 0 7px 7px;
            color: $primary-font-color;
          }
          input:focus {
            outline: none;
            border: none;
          }

          .search-icon,
          .filter-icon {
            color: #a3a3a3;
            flex: 0 1 10%;
            text-align: center;
            position: relative;

            .filter-box {
              display: flex;
              flex-direction: column;
              padding: 10px;
              position: absolute;
              right: 0px;
              background: $secondary-color;
              border-radius: 7px 0 7px 7px;
              padding: 10px 20px;
              align-items: flex-start;
              gap: 10px;
              top: 30px;

              span {
                font-size: 14px;
                font-weight: 300;
                color: $primary-font-color;
                width: max-content;
                padding: 5px;
              }
            }
            .filter-box.display-none {
              display: none;
            }
          }
        }
      }
      .submit.open-menu {
        height: fit-content;
      }
      .submit {
        margin: 30px 0;
        border-radius: 7px;
        padding: 15px;
        background-color: $primary-color;
        width: 100%;
        height: 60px;
        transition: height 0.5s;
        overflow: hidden;

        .is-saved {
          svg {
            margin-left: 5px;
          }
        }

        .lds-ring {
          display: inline-block;
          position: relative;
          width: 30px;
          height: 30px;
        }
        .lds-ring div {
          box-sizing: border-box;
          display: block;
          position: absolute;
          width: 34px;
          height: 34px;
          margin: 8px;
          border: 3px solid #fff;
          border-radius: 50%;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          border-color: #fff transparent transparent transparent;
        }
        .lds-ring div:nth-child(1) {
          animation-delay: -0.45s;
        }
        .lds-ring div:nth-child(2) {
          animation-delay: -0.3s;
        }
        .lds-ring div:nth-child(3) {
          animation-delay: -0.15s;
        }
        @keyframes lds-ring {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
        .dropdown.open-menu svg {
          rotate: -45deg;
        }
        .dropdown svg {
          rotate: 0deg;
        }
        .dropdown {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        h2 {
          font-weight: 300;
        }
        form {
          label {
            font-weight: 700;
            margin-top: 20px;
            display: block;
            font-size: 14px;
            margin-bottom: 5px;
            font-weight: 300;
          }

          select,
          .input {
            width: 100%;
            padding: 10px;
            outline: none;
            border: none;
            border-radius: 7px;
            -webkit-appearance: none;
            appearance: none;
          }
        }
      }
      .results {
        width: 100%;
        .pubs {
          display: flex;
          flex-direction: column;
          gap: 10px;
          list-style: none;
          margin: 0;
          padding: 0;

          .pub-wrapper {
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            border-radius: 7px;
            background: $primary-color;
            .pub {
              display: flex;
              justify-content: space-between;
              .name-location {
                .name {
                  font-weight: 300;
                  font-size: 25px;
                }
                .borough {
                  font-size: 13px;
                  display: flex;
                  gap: 10px;
                  color: $secondary-font-color;
                  align-items: center;
                }
              }
              .directions svg {
                color: #ed6262;
                margin: 5px;
                font-size: 22px;
                filter: drop-shadow(0px 6px 12px grey);
              }
            }
            .price {
              display: flex;
              justify-content: space-between;
              align-items: center;
              span {
                font-weight: 700;
              }
              .drink {
                font-weight: 300;
                font-size: 20px;
              }
            }
          }
        }
      }
      .map-wrapper {
        position: relative;
        width: 100%;
        height: 500px;
        .map-container {
          height: 100%;
          width: 100%;
          h3,
          p,
          span,
          a {
            color: $primary-color;
          }
          p {
            margin: 10px 0;
          }
          .info-window a {
            font-weight: 600;
            background: #1a73e8;
            color: white;
            padding: 10px 20px;
            border-radius: 7px;
            display: block;
            width: fit-content;
          }
        }
      }
    }
  }
}
